<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SqlGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<add name="Northwind" connectionString="Data Source=localhost;Initial Catalog=Northwind;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<userSettings>
		<SqlGenerator.Properties.Settings>
			<setting name="TableName" serializeAs="String">
				<value>TableName</value>
			</setting>
			<setting name="FilePath" serializeAs="String">
				<value>C:\Temp\MyExcelFile.xlsx</value>
			</setting>
			<setting name="SheetName" serializeAs="String">
				<value>Sheet1</value>
			</setting>
			<setting name="ConnectionKey" serializeAs="String">
				<value>Carema</value>
			</setting>
			<setting name="FileType" serializeAs="String">
				<value>Excel</value>
			</setting>
			<setting name="Delimiter" serializeAs="String">
				<value>Semicolon</value>
			</setting>
			<setting name="ConnectionString" serializeAs="String">
				<value>Data Source=localhost;Initial Catalog=Northwind;Trusted_Connection=True;</value>
			</setting>
		</SqlGenerator.Properties.Settings>
	</userSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
